### Setting Up Your Environment 
Connecting to database

In [18]:
# Import the necessary libraries
import sqlite3
import pandas as pd

# Setting up the database. DO NOT edit the code given below
conn = sqlite3.connect('./database/production.db')

In [19]:
query = ''' 
SELECT * 
FROM cheese_production 
LIMIT 5'''
result = pd.read_sql(query, conn)
display(result)

   Year Period Geo_Level  State_ANSI  Commodity_ID Domain        Value
0  2023    APR     STATE         6.0             6  TOTAL  208,807,000
1  2023    APR     STATE        16.0             6  TOTAL   86,452,000
2  2023    APR     STATE        17.0             6  TOTAL    5,068,000
3  2023    APR     STATE        19.0             6  TOTAL   31,512,000
4  2023    APR     STATE        27.0             6  TOTAL   69,728,000

### Close the Connection

In [16]:
# Close the database connection 
conn.close()